<!--user checks-->
{% if user.is_authenticated %}
<div class="greeting">
	Hello {{ user.username }} and the Madaf*KING World!
	<a href="{% url 'logout' %}">logout</a>
</div>
{% else %}
<div class= "register">
	<a href="{% url 'signup' %}">sign up!</a>
</div>
<a href="{% url 'login' %}"">login</a>
<form method = "post" action = "{% url 'django.contrib.auth.views.login' %}">
{% csrf_token %}

<!--username bar-->
<div class= "container-2">
	{{ form.username,label_tag }}
	{{ form.username }}
</div>

<!--pw bar-->
<div class= "container-3">
	{{ form.password.label_tag }}
	{{ form.password }}
</div>
<input type= "submit" value= "login" />
<input type= "hidden" name= "next" value= "{{ next }}" />
</form>

{% endif %}
